* {
  margin: 0 !important;
}

body {
  background-color: black;
  color: white;
}

header {
  background-color: rgba(62, 53, 53, 0.521);
  padding-top: 15px;
  padding-bottom: 15px;
}

header p {
  color: white;
  font-size: 23px;
  font-weight: bolder;
}

.messageBox {
  height: 90%;
  padding: 54px;
  overflow: auto;
}

.textMsg {
  background-color: blueviolet;
  width: fit-content;
  min-width: 100px;
}

.send {
  height: 10%;
  background-color: rgba(62, 53, 53, 0.521);
}

.send input {
  background-color: black;
  color: white;
  width: 500px;
  padding: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
}

.sendBtn {
  height: 54px;
  width: 54px;
  border-radius: 54%;
  background-color: black;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px !important;
}